[2015-01-03 21:48] michaelhayman opened #1 "Subvalidations do not seem to be working"
Firstly, thanks for this package, it will help me a lot in development.

I have a rule something like

[code]

When using the Firebase simulator, a write of `{ bookID: 'hey', email: 5, ownerID: 'simplelogin:3', status: 'hey' }` (note the `email` field being a non-string) to `invites/pending/invite_id` as the `simplelogin:3` user does not succeed.

However using the Targaryen test suite (using the

[2015-01-03 21:49] goldibex commented on #1
Thanks for the heads up Michael, I'm looking into it now

On Sat, Jan 3, 2015 at 1:48 PM, Michael Hayman <notifications@github.com>
wrote:

[2015-01-03 21:55] goldibex commented on #1
This is definitely a bug associated with the way Targaryen searches for rules to test against. Working on it now...

[2015-01-03 21:57] michaelhayman commented on #1
Thanks a lot goldibex.  I added some more detail to the issues I'm experiencing, notably the '$other' validation.  In the meantime I'll familiarize myself with the package so I can contribute as well.

[2015-01-05 23:12] tomlarkworthy opened #2 "Leading "/" confuses path"
"tests": {
    "a": {
      "canRead": [1]
    }
  }

is different to

"tests": {
    "/a": {
      "canRead": [1]
    }
  }

 which can cause issues for people that naturally prepend / to path.

[2015-01-05 23:30] tomlarkworthy opened #3 "newData evaluation location not correctly computed?"
I think this (rule,test) pair should work. It doesn't but if you delete .child('a)' from the validate rule it works. This suggests to me the evaluation of ".validate" is not aware of its logical position in relation to the written data.
{
  "rules": {
    ".validate": "newData.child('a').val() != null",
    "a": {
      ".read": "true",
      ".write": "true"
    }
  }
}
---------------------
{

[2015-01-06 16:44] goldibex commented on #2
Hi Tom, I'm happy to take a look at that. Can you explain in a bit more detail? Currently the bin/targaryen utility doesn't normalize paths from the keys in the `tests` object; is that what you'd like to see changed.

[2015-01-06 16:45] goldibex commented on #3
Hi Tom, this is definitely a bug related to #1. Should be resolved in the next day or so. Thanks for the report!

[2015-01-06 17:59] tomlarkworthy commented on #2
just I would expect the path "/a/b" to be the same as "a/b/" or "a/b" like the Firebase clients. My tests were not passing until I dropped the preceding "/" so clearly there is some divergence in how paths are parsed.

Yes its the keys in the test object in the above. Its not a major deal though.

[2015-01-07 04:30] jwngr opened #4 "Undefined `targaryenChai` variable used in example"
In your [Chai example code](https://github.com/goldibex/targaryen/blob/master/USAGE.md#chai), you use the variable `targaryenChai` which is not previously defined. I think you just want to use `targaryen` here.

[2015-01-09 03:10] #1 closed

[2015-01-09 03:12] goldibex commented on #3
@tomlarkworthy, this should be fixed now. Please reopen the issue if it isn't.

[2015-01-09 03:12] #3 closed

[2015-01-09 03:13] goldibex commented on #4
Whoops, changed the API right before release but not the docs...

[2015-01-09 03:14] goldibex commented on #4
fixed

[2015-01-09 03:14] #4 closed

[2015-01-09 04:38] jwngr commented on #4
Awesome! I love the project by the way. We've been thinking a lot about improving the tooling and testability around security rules and this is the best I've seen. Thanks for creating it.

[2015-01-09 22:52] tomlarkworthy commented on #2
I have no idea why I closed that, it's still open

[2015-01-09 23:10] tomlarkworthy commented on #3
Cheers, tested :)

On Thu, Jan 8, 2015 at 7:12 PM, Harry Schmidt <notifications@github.com>
wrote:

[2015-01-11 02:53] #2 closed

[2015-04-13 19:59] rayd opened #9 "CanWrite passes if any child node can be written"
Hi, I'm seeing tests pass that I don't think should actually be passing. I have a set of rules that look something like this (simplified a bit here):
[code]
If I attempt to write the following data, it passes the write test (which it shouldn't according to my understanding of the rules):
[code]
The rule should fail at this part I would think:
[code]
But instead it looks like targaryen keeps evalua

[2015-04-13 23:30] goldibex commented on #9
There's a lot of redundancy in your rules. They can be simplified to the following with no change in behavior:

[code]

That said, it does appear some bug is cropping up here. Thanks for the report, I'll issue a fix in pretty short order (EOW latest).

[2015-08-06 20:22] angeloashmore opened #11 "Change test user UIDs to UUIDs"
Firebase is changing the user UIDs from `<provider>:<number>` to UUIDs (e.g. `f47ac10b-58cc-4372-a567-0e02b2c3d479`) starting August 17th.

See: https://groups.google.com/forum/#!topic/firebase-talk/s9mv4S46Qs0

Since existing users will keep the old format and only new users will be using UUIDs, it might be a good idea to be able to test both.

[2015-08-18 20:47] lyahdav opened #12 "Can't create unauthenticated user for tests"
I'm trying to create a user in the `users` object that's unauthenticated via:
[code]
Then I have a rule that checks `auth != null`:
[code]
 I get this error when running tests:
[code]

[2015-08-29 00:07] benthehenten opened #13 "newData as value instead of object"
It appears that Targaryen evaluates newData as the value to be written, instead of an object with {key:value} of the data to be written (as Firebase does).

For example, if I have the collection:
[code]
and I try to write "Ben" to `/users/USER123/first_name` and do the check: `newData.val().length > 0`, Targaryen will evaulate newData as "ben", while in Firebase, it will evaluate newData as ` {'fi

[2015-09-23 06:35] #11 closed

[2015-10-10 04:59] scolyer opened #15 "Can't run from the command line"
Just tried to npm install on OSX El Capitan -  targaryen won't run from the command line (command not found). Any tips on how to resolve?

[2015-10-10 15:03] goldibex commented on #15
Please supply your node and npm versions as well as the complete log of the
problematic command line session.
On Fri, Oct 9, 2015 at 9:59 PM Sean Colyer <notifications@github.com> wrote:

[2015-10-11 03:26] scolyer commented on #15
node v0.12.5
npm 2.11.2

[code]

[2015-10-14 06:59] weactivist commented on #15
I have the same problem on Yosemite:

    $ node -v
    v4.2.0
    $ npm -v
    3.3.6

    $ npm install -g targaryen
    /Users/hmmrsr/.node/lib
    └─┬ targaryen@1.1.4
      ├─┬ cli-table@0.3.1
      │ └── colors@1.0.3
      ├── colors@1.1.2
      ├── esprima@1.2.5
      ├── extend@2.0.1
      ├── minimist@1.2.0
      └── replaceall@0.1.6

    $ targaryen
    -bash: /Users/hmmrsr/.node/bin/targa

[2015-10-14 21:34] goldibex commented on #15
Hi guys, working this problem now, should have a fix shortly

[2015-10-14 21:39] daguej commented on #15
What is your `PATH`?  (`echo $PATH`)

[2015-10-14 21:57] goldibex commented on #15
Fixed by #16.

[2015-10-14 21:57] #15 closed

[2015-10-15 10:42] scolyer commented on #15
Awesome, thanks!

[2015-10-15 21:56] goldibex commented on #13
Yeah, it turns out I erred in my interpretation of the behavior of the canonical rule parser. This is the same problem as #9.

[2015-10-15 21:56] goldibex commented on #13
Working the problem now.

[2015-10-15 22:29] benthehenten commented on #13
Thanks! Targaryen has been super useful--thanks for the awesome tool.

[2015-10-18 14:55] danielcha commented on #12
I just ran into the same issue. This should really be fixed. It seems this isn't the issue if you are using the API. But with the CLI it is broken. I fixed it with a dirty hack by changing line 22 of test-jig.js to:

    if (typeof auth === 'string' && auth !== 'unauthenticated') {

I wouldn't recommend this solution, but at least I can run my tests :-)

[2015-11-03 23:57] jtwebman opened #19 "must-targaryen"
I create a plugin for Must.js called [must-targaryen](https://github.com/jtwebman/must-targaryen). If I sent you a pull request could I just add this into the library?

[2015-11-07 00:35] jtwebman opened #20 "".validate": "newData.isNumber()" Fails with Null"
This shouldn't fail on null as null data should delete. So the write rule should pass. I am working on a fix and a test for this. The strange thing is null for isString() works.

[2015-11-07 02:29] jtwebman commented on #20
This pull request has the fix for this.

https://github.com/goldibex/targaryen/pull/21

[2015-12-08 03:22] adjohnson916 opened #22 "CLI API"
Expose an API for what the CLI does, so we can write programmatic tests without Chai or Jasmine.

[2016-01-29 11:00] petrusek opened #24 "Nested variables in rules"
There is some undocumented problem with nested variables in Firebase rules recognized by targaryen. Firebase itself is handling them correctly.

Please see PR #23 where I demonstrate the problem in a (currently disabled) test suite.

[code]

versus Firebase simulator

[code]

[2016-02-01 14:20] CurtisHumphrey commented on #24
To be able to repeat this we would also need a copy of your rules.json file too

[2016-02-01 14:22] petrusek commented on #24
No problem, see the PR #23... it should be all there.

[2016-03-19 02:34] mrozbarry commented on #12
@goldibex are you accepting PRs or anything to get this moving along?  Just ran into this with the CLI tool, and wouldn't mind a fix, and don't mind doing the fix myself if necessary.  Jasmine and Chai both have this functionality, so it would be great if all facets of this project had the same feature sets.

[2016-03-23 18:55] goldibex commented on #12
@mrozbarry with my apologies for the delay. I would happily accept PRs!

[2016-03-27 14:39] bijoutrouvaille commented on #24
I did a little searching, and I think it has to do with this part https://github.com/goldibex/targaryen/blob/90a143318c6ad3770d6cfa85e267ef5e427a46db/lib/ruleset.js#L235

tryRead isn't propagating the wildchild'ren if the rule is null.

I've modified the part to be like this

    if (ruleDef.rule === null) {
      result.info += ':<no rules>\n';
      if (ruleDef.wildchild) {
        state[ruleDef

[2016-03-29 01:23] goldibex commented on #24
Fixed by #23.

[2016-03-29 01:23] #24 closed

[2016-05-04 16:54] ibash opened #26 "tryWrite does not merge root and newData"
Given rules like this:
[code]

Shouldn't the tryWrite pass? In a similar test I'm seeing a rejection at the level of `/foo` with `newData.hasChildren[['id', 'bar'])`

[code]

[2016-05-04 22:20] #26 closed

[2016-05-04 22:29] goldibex commented on #13
@benthehenten can you take a look at this again with Targaryen 2.1.0 and see if the problem persists? I think it was corrected with #27, but I want to be sure.

[2016-05-04 22:29] goldibex commented on #20
Closed by #20.

[2016-05-04 22:29] #20 closed

[2016-05-04 22:30] goldibex commented on #19
Hi @jtwebman , please feel free to issue a PR for this and we'll get it merged post haste.

[2016-05-05 18:27] goldibex commented on #9
@rayd: can you upgrade to Targaryen 2.1.0 and see if your problem persists?

[2016-05-06 18:59] jbearer commented on #12
Just submitted a PR that should fix this.

[2016-05-11 17:52] goldibex commented on #9
I think this was closed in #27.

[2016-05-11 17:52] #9 closed

[2016-05-11 17:52] goldibex commented on #13
Closed by #27.

[2016-05-11 17:52] #13 closed

[2016-05-11 20:03] #12 closed

[2016-05-21 08:09] startswithaj opened #29 "Initial timestamp"
Hi @goldibex thanks for writing and maintaning this lib, it is awesome.

I have a small issue that I was wondering if you might be able to help me solve.

I have a validation rule
[code]
[code]
The data im using for the write test is like so:
[code]

When inforcing this inside of targaryen it seems like there is a timing issue because it rejects it.

[code]

If I change the rule to (less than curr

[2016-05-21 15:12] goldibex commented on #29
Hm. Seems Targaryen doesn't properly replicate the behavior of `ServerValue.TIMESTAMP`. Thanks for the report; investigating...

[2016-06-14 12:42] sebastianovide opened #30 "new lines and comments in rules.json"
Hi all,

we are evaluating how to test firebase rules and this seems to be the only real solution. Our rules.json is getting big, and to keep things clear we add comments and new lines using the same syntax accepted by firebase. Nevertheless targaryen complains about the json format. It doesn't like new lines nor comments in the json.

(Of course I could clean up the file before using targaryen.)

[2016-06-14 14:29] goldibex commented on #30
I wasn't actually aware that Firebase permits deviations from conventional
JSON in the format of the security rules. I'll look into this and get back
to you.

On Tue, Jun 14, 2016 at 5:43 AM Sebastian Ovide <notifications@github.com>
wrote:

[2016-06-14 16:17] sebastianovide opened #31 "--verbose is printing only one line"
--verbose shows only one test. Ie: I have 8 tests. Running without --verbose I get `0 failures in 8 tests`, Running with --verbose I get

[code]

[2016-06-15 02:17] SingaporeClouds commented on #30
Here are a few examples that I have seen in valid security rules.
[code]

[2016-06-17 15:53] alexweber opened #33 "Nested read/write rules not respected"
Given the following rules:
[code]
and the following data:
[code]

This test should pass but fails:
[code]

If i remove the top-level ".write" rule, the test correctly passes as expected which leaves me to conclude that nested read/write rules may not be resolved correctly.

[2016-06-17 15:57] alexweber commented on #30
@sebastianovide You can get a better dev experience using the [Firebase Bolt Compiler](https://github.com/firebase/bolt), there's a SublimeText bundle you can use in IDEA too for syntax highlighting.  I've found it makes it a bit easier to work with complex rules.

[2016-06-17 22:16] sebastianovide commented on #33
hi @alexweber

.read and .write rules shallower in the database override deeper rules, (https://firebase.google.com/docs/database/security/#section-authorization)

[2016-06-17 22:27] alexweber commented on #33
@sebastianovide wow, ok, I apologize, this comes as a bit of a shock to me, I had it working the other way around in an application last year, seems a bit counter-intuitive but it is what it is. Thanks!

[2016-06-17 22:27] #33 closed

[2016-06-29 23:17] ebbflowgo opened #34 "Firebase.remove"
Is there a way to test removal functionality?

[2016-07-05 07:04] sebastianovide commented on #34
remove() is equivalent to calling set(null).

[2016-07-07 18:41] #34 closed

[2016-08-09 06:38] sparkinson opened #38 "variables not propagated in path"
Hi,

I am trying to test some rules in nested paths. Using the following code (testing using Jasmine)

[code]

I get a failure as:
[code]

I think this should pass, and the test cases would suggest it should but I notice the relevant test case is 'pending'.

[2016-08-12 15:37] #38 closed

[2016-08-13 12:53] dinoboff commented on #29
#40 fixes this by setting `now` and the server timestamp to a predictable date. I set the date to the project initial commit timestamp (1419359740000).

@goldibex @startswithaj Does the date need to be editable? I could add a method a `setFirebaseTimeStamp` method.

[2016-08-14 13:58] dinoboff commented on #29
#41 fixes this by adding a `_now` property to each snapshot and using it to convert data and evaluate a ruleset.

#40 is simpler but limits this project use case to unit testing only.

[2016-08-14 22:05] dinoboff commented on #30
AFAIK it only affected the CLI (and support for comments is implemented in v2.2.0).

When using the API (i.e `targaryen.setFirebaseRules(someRule)`), targaryen doesn't load the rules and you can parse the rules with something supporting comments and new lines in strings. You can use something like json5 or even yaml if you don't mind converting it to json before uploading the rules.

[2016-08-26 12:29] dinoboff commented on #38
Just found a similar issue with write operations. location variables would not propagate down the path. Only affects validation and would report a positive validation when the wildchild was undefined.

[2016-09-01 17:28] mhuebert opened #43 "auth variable types undefined"
Hi all,

Currently an expression such as `...child('x/' + auth.uid)` fails because the undefined type of `auth.uid` doesn't satisfy the `+` operator. As it is not possible to predict what kind of values `auth` will contain, I thought to relax the `+` operator such that if one of its arguments is undefined, it will use the type of the other:

https://github.com/goldibex/targaryen/compare/master...m

[2016-09-02 09:19] dinoboff commented on #43
Doesn't javascript infer the type to string when the type on both side can't be inferred to number?

Is it different for firebase rule expressions?

[2016-09-21 13:57] RomansBermans opened #45 "Testing against .validate is not performed"
Hi all,

I am trying to run the following test:

[code]

against the following rules:

[code]

but it fails with the following error:

[code]

This test would not have failed if `".validate": "newData.hasChildren(['index', 'type', 'query'])"` would have been evaluated, it seems that targaryen didn't pickup .validate

Any help would be appreciated. We were looking for a way to test Fireabase rules

[2016-09-21 23:06] RomansBermans commented on #45
In targaryen/lib/ruleset.js (line 338:340) I have changed:
[code]
to:
[code]
And everything is fine now.

[2016-10-08 07:26] dinoboff commented on #45
Can you try with master:
[code]

[2016-10-08 07:53] dinoboff commented on #43
@mhuebert Do you had some failing test to "test/spec/lib/parser/rule.js"?

[2016-10-08 08:13] dinoboff commented on #30
AFAIK there's no node parser that support both comments and new lines in json string and writing a JSON parser is out of the scope of this project at this point.

If there's a parser available that support the same features than Firebase, fell free to reopen this issue.

[2016-10-08 08:13] #30 closed

[2016-10-19 21:03] dinoboff opened #53 "tryPatch with an empty object throw."
It should instead allow the patch.

[2016-10-21 07:54] #53 closed

[2016-10-21 10:05] #29 closed

[2016-10-21 10:32] dinoboff opened #54 "Release 2.2.1"
@goldibex Can you please publish 2.2.1 or add [dinoboff](https://www.npmjs.com/~dinoboff) to the npm package list of collaborators.

[2016-10-21 10:38] dinoboff commented on #54
The tag is published and the packages.json is updated; to publish the package to npm:
[code]

[2016-10-21 13:40] #22 closed

[2016-10-21 21:07] goldibex opened #58 "Congratulations @dinoboff"
I've just added you as an owner to the targaryen package on npm, @dinoboff, so you can update the package now.

[2016-10-22 00:02] #54 closed

[2016-10-22 11:57] mhuebert opened #60 "non-existent properties of auth should be treated as null"
A rule like "auth.someNonexistentProperty === null" should pass. Tested in the simulator.

I've pushed a failing test here: https://github.com/mhuebert/targaryen/blob/rule-evaluation/test/spec/lib/ruleset.js#L203

[2016-10-22 12:05] mhuebert opened #61 "evaluation error in rule should not permit operation"
A validation rule such as `".validate": "auth.notAFunction() === false"` should fail.

Failing test: https://github.com/mhuebert/targaryen/blob/rule-evaluation/test/spec/lib/ruleset.js#L196

[2016-10-22 12:19] dinoboff opened #62 "Loosen type inferring"
Type inferring is mainly used to test a rule returns a boolean and to check a type prototype method exists. However when the type cannot be inferred, an error is thrown.

Instead, only "MemberExpression" expression type inferring should throw and it should only throw the type of the object is known for certain. We can catch other type related error at run time.

"CallExpression" can still throw si

[2016-10-22 12:20] mhuebert opened #63 "live testing for Firebase parity"
I suggest we set up async tests that run against a live Firebase database. We currently have a number of known inconsistencies, and Firebase rule evaluation itself can change without notice.

[2016-10-22 12:21] dinoboff commented on #58
Thanks :-)

[2016-10-22 12:21] #58 closed

[2016-10-22 12:27] dinoboff commented on #60
The issue is with `RuleEvaluator.prototype._evalBinaryExpression`.

Firebase uses strict inequality/equality operator in place of looser operator and so does targaryen. However when one side is null or undefined, we should use a looser operator.

[2016-10-22 12:32] mhuebert commented on #60
OK. I also just checked and `auth.x.y.z === null` also returns true in the simulator -- so we need to make sure we don't return `Cannot read property 'z' of undefined` errors.

[2016-10-22 15:49] dinoboff commented on #60
Can there be a case like with something else than auth? maybe we can proxy access to auth?

[2016-10-24 10:33] dinoboff commented on #45
@RomansBermans Can you try with with v2.3.0-0?
[code]

[2016-10-24 23:33] #61 closed

[2016-10-24 23:41] #60 closed

[2016-10-28 09:42] RomansBermans commented on #45
I have tried v2.3.0-0 and v2.3.0-1 and I am getting now even more errors. We have got 400 tests that we run against Firebase database rules and they all pass without using targaryen and by running them against actual Firebase database (which is very slow). Below is one example that fails:

[code]

The rules for orders path are:

[code]

[2016-10-28 10:22] mhuebert commented on #45
@RomansBermans feedback from your testing setup is really valuable, thanks for sharing these results!

It looks like .child() is behaving inconsistently: the rules you've posted behave as expected if the expression `root.child('technicians').child(auth.uid)` is rewritten as `root.child('technicians' + '/' + auth.uid)`. (I think these two forms should always be equivalent?)

Test:
https://github.co

[2016-10-28 10:47] dinoboff commented on #45
They should both be. I think bolt compile to the later form. I find the former more readable:

- `root.child('some/path').child(someVar)` will work in 3.0.0.
- `root.child('some/path/' + someVar)` will work in 2.3.0

[2016-10-28 13:14] dinoboff opened #70 "Document timestamp related api changes"
Add documentation for:
- `setFirebaseData` gains a `now` parameter: `targaryen.setFirebaseData(data[, now]);`.
- jasmine matchers gain an optional `now` parameter.
- chai plugin `write` and `patch` methods gain an optional `now` parameter.
- chai plugin gains a `readAt(now)` method.

[2016-10-28 13:28] #62 closed

[2016-10-28 13:39] dinoboff commented on #45
@RomansBermans  @mhuebert

ps: you can try with `npm install targaryen@goldibex/targaryen#next`

Once 2.3  is released I will release a beta version of 3.0.0

[2016-10-31 21:13] dinoboff opened #73 "Ruleset.tryWrite uses child write rules to check permission"
See #74

[2016-10-31 21:15] dinoboff commented on #73
It fixed in upcoming v3 back porting it would be good.

[2016-10-31 23:58] pthrasher opened #75 "Nested objects within auth not working."
I've created a simple test that fails in targaryen, but passes on firebase simulator.

###### Test:

[code]

###### Rules:

[code]

For easier reading, here's the rule pretty-printed:

[code]

[2016-11-01 01:33] #75 closed

[2016-11-01 01:33] dinoboff commented on #75
@pthrasher thanks.

Fixed on master. Will be released today in v2.3.0.

[2016-11-01 02:35] dinoboff commented on #75
@pthrasher

ps: sorry about the PR.
pps: v2.3.0 is released

[2016-11-03 21:39] RomansBermans commented on #45
Thanks! I will give it a go in the next few days and let you know.

[2016-11-04 09:55] dinoboff commented on #45
@RomansBermans `npm targaryen@beta` now point to the the upcoming 3.0.0 (I still to need to refine the public API before release).

[2016-11-04 11:37] RomansBermans commented on #45
Thanks @dinoboff I have tried it and I am getting the following error:

[code]

[2016-11-05 10:41] dinoboff opened #78 "Regress: accept array as firebase data"
see #45

[2016-11-05 11:06] #78 closed

[2016-11-14 21:13] RomansBermans commented on #45
@dinoboff I just have tried with v3.0.0-beta.1 but getting this error:

[code]

[2016-11-15 08:06] dinoboff commented on #45
I am guessing `root.child('technicians').child(auth.uid).val() != null` is the issue:
- it's might be evaluated as `root.child('technicians').child(null).val() != null`
- and currently `root.child('technicians').child(null).val()` might be the equivalent of `root.child('technicians').val()`

[2016-11-15 09:02] dinoboff opened #84 "== and !== should should compare number, boolean, string, or null"

[2016-11-15 09:04] dinoboff opened #85 ">, >=, < and <= should compare number and string"

[2016-11-15 09:08] dinoboff opened #86 "Snapshot and string method should handle null"
`auth` and its properties, or a snapshot val calls can evaluate to null. Tests should be added to make sure they behave like firebase security rules methods; e.g., `root.child(auth.foo).exists()` should return false if `auth` or `auth.foo` is null.

[2016-11-15 09:39] RomansBermans commented on #45
@dinoboff the Realtime Database simulator works as expected:

<img width="813" alt="screen shot 2016-11-15 at 09 38 52" src="https://cloud.githubusercontent.com/assets/358467/20300491/65f784c8-ab17-11e6-8042-30aea6c0058c.png">

[2016-11-15 09:44] dinoboff commented on #45
#87 should fix it

[2016-11-15 09:53] RomansBermans commented on #45
Perfect, thanks!

[2016-11-15 13:41] dinoboff commented on #86
Firebase seems to evaluate any rules with string methods receiving anything else than strings (or a regexp for `matches`) as false. Same for snapshot methods receiving path argument as anything else than strings.

[2016-11-16 11:30] #85 closed

[2016-11-16 11:30] #84 closed

[2016-11-17 10:44] simenbrekken commented on #75
I might be misunderstanding but I'm suddenly getting failed tests after upgrading to 2.3.0 from 2.2.0.

The following passed in 2.2.0 but no longer passes in 2.3.0:

Rule: `root.child('projects').child($projectId).child('users').child(auth.uid).val() != null`

Context:
[code]

The evaluated expression is then: `root.projects.palace.users[null].val() != null` which should fail.

[2016-11-18 09:44] dinoboff commented on #86
It's actually related #65 and affects 2.3.0.

[2016-11-18 09:45] dinoboff commented on #75
It's the same issue as #86 in the next branch. it's related #65. I reopened the issue.

[2016-11-18 10:06] dinoboff commented on #86
@simenbrekken

The issue in 2.2.0 was with `auth = null` the following rules would throw:

- `auth.foo.bar != null` (should evaluate to false)
- `auth.foo.bar == null` (should evaluate to true)

I fixed member access evaluation to return null instead of throwing an error like when auth is null. However I broke the evaluation, using `auth = null`:

- `root.child(auth)` should evaluate to false
- `r

[2016-11-18 11:29] dinoboff opened #89 "Strict boolean unary type infering"
Add test `!auth.foo` parsing fails and fix if necessary.

[2016-11-18 15:24] #86 closed

[2016-11-18 15:46] dinoboff commented on #75
@simenbrekken It should be fixed v2.3.2

[2016-11-23 00:11] RomansBermans commented on #45
@dinoboff I just have tried with v2.3.2 and I am getting this:

[code]

My assumption here is that auth.uid is null as the user is unauthenticated and also data.child('creator').val() is null as there i no data at search/request/1479859609858

Again when using Firebase library this works as expected.

[2016-11-23 00:51] dinoboff commented on #45
I am not sure how I can handle this one.

[2016-11-23 01:07] dinoboff commented on #45
@RomansBermans

actually, I can't reproduce the issue in the simulator: `auth.foo == root.child('foo/bar').val()` will evaluate to true in the simulator if `auth` is set to null and if `foo/bar` doesn't not exist.

[2016-11-23 01:16] RomansBermans commented on #45
@dinoboff really sorry you are right. I was passing incorrect auth object in the test that is using the firebase-admin module.

[2016-11-23 01:18] dinoboff commented on #45
No problem, keep posting any issue with the rule parser; I don't mind a few false positive.

[2016-11-23 01:59] RomansBermans commented on #45
2.3.2 totally works for me:

<img width="830" alt="screen shot 2016-11-23 at 01 59 03" src="https://cloud.githubusercontent.com/assets/358467/20549029/7c79b81a-b120-11e6-9398-18205fcde70a.png">

[2016-11-23 14:38] RomansBermans commented on #45
@dinoboff I have a question about what targaryen prints out when there is an error and was wondering if you could help out.

I have:

[code]

Which correctly fails with the following output:

[code]

Why does targaryen print the whole test data set that was set via `targaryen.setFirebaseData(data.initial)`:

```Expected a user with credentials {"uid":"UAUT1","email":"uaut1@test.echo.co.uk"} not to

[2016-11-24 00:18] dinoboff commented on #45
There's a bug; it should only print the data given to write.

[2016-12-01 01:47] dinoboff commented on #63
#91 has some limitation:

- It uses the REST API.
- it uses the legacy secret key authentication.
- It's very slow to run. It only record evaluation of some rules from a live Firebase DB in `test/spec/lib/parser/fixtures.json`.
- it doesn't test a read or write test. It only test how a rule is parsed and evaluated by Firebase; it doesn't test which rules should be read during a read/write operatio

[2016-12-02 12:39] #89 closed

[2016-12-04 14:18] dinoboff commented on #31
Using the master branch, it seems to work:
[code]

[2016-12-04 14:18] #31 closed

[2016-12-04 14:19] #43 closed

[2016-12-04 15:03] dinoboff commented on #45
@RomansBermans It's fixed in upcoming 3.0.0 and 2.3.4 (with #93)

[2016-12-04 15:06] dinoboff commented on #45
@RomansBermans I am closing this issue. The original issue was fix in 2.3.0 I think.

[2016-12-04 15:06] #45 closed

[2016-12-04 21:48] RomansBermans commented on #45
@dinoboff thanks I will give it a go when 3.0.0 is released.

[2016-12-09 23:22] dinoboff commented on #63
There's now a daily cron job checking behaviour changes targaryen assumptions about the parser.

[2016-12-10 09:33] mhuebert commented on #63
Very happy to see this in here! 👍

[2016-12-10 09:33] #63 closed

[2016-12-14 02:43] dinoboff commented on #73
Closing this. If someone needs it fix in 2.x.x, please reopen,

[2016-12-14 02:43] #73 closed

[2016-12-21 21:24] alisson446 opened #105 "Test borken, but console show all conditions true"
The test is breaking, but all conditions than the console show are true. I'm using chai plugin.
It's my rules json:

[code]

And it's is test file:

[code]
The console:

![captura de tela de 2016-12-21 16 18 35](https://cloud.githubusercontent.com/assets/13024620/21406462/8eaf37b2-c7aa-11e6-8dc5-837531ee14cb.png)

[2016-12-22 12:24] dinoboff commented on #105
It's failing as expected but the info it's showing are wrong:

- only showing one location evaluation.
- mentioning "No .patch rule allowed the operation."

Am I correct?

[2016-12-22 14:21] alisson446 commented on #105
But why it test should fail?

[2016-12-22 14:56] dinoboff commented on #105
@alisson446

You tests attempt a multi-location update of:
- list/_listId1/id -> '_listId1'.
- otherList1/_listId1 -> true.
- otherList2/_listId1 -> false.

Your rules on allow updating "list/_listId1/id". For "otherList1/_listId1", it should show "otherList1/_listId1:<no rules>".

[2016-12-22 15:10] dinoboff commented on #105
ps: AFAIK, permission (writes and read) are denied by default and data is valid by default. So you need one write rule evaluating to true on the path and no validate rule evaluating to false.

[2016-12-22 15:21] alisson446 commented on #105
I undestand, i'm thought that if doesn't exist rules for a path, it should allow. Thanks.

[2016-12-22 17:01] #105 closed

[2016-12-22 19:48] georgesboris opened #108 "newData should contain all the merged data"
Hey man, thanks for developing this.

We've been trying to use targaryan for a while now with my team.
Although it helps a lot we're encountering some issues, specially since the updates made recently.

Take a look at this for instance.

In Firebase, when you update some paths, the newData holds all the information for the current tree, not only the information that is been sent.

Like so:

<img w

[2016-12-22 19:52] georgesboris commented on #108
Note that when the newData holds any value, like if we were trying to update the `createdBy` prop instead of passing `null` to it, it appears to work as expected.

[2016-12-23 01:21] dinoboff commented on #108
Thanks for the report. I could reproduce it and I am working on a fix.

[2016-12-23 01:25] dinoboff commented on #108
ps: note that newData reference the all new tree; one location in that tree. It seems there's bug where the parent node got deleted instead of just `createdBy`.

[2016-12-23 02:12] #108 closed

[2016-12-23 02:20] dinoboff commented on #108
@georgesboris It should be fixed in 3.0.0-rc.4.

[2016-12-23 02:21] dinoboff commented on #105
@alisson446 The confusing error message should be fixed in in 3.0.0-rc.4.

Thanks.

[2016-12-31 13:00] dinoboff commented on #70
Closing. Feel free to reopen if you need documentation for 2.3.x

[2016-12-31 13:00] #70 closed

[2017-01-10 14:22] Maradox opened #113 "Null values are passed up the hierarchy"
When writing or patching a `null` value, the `null` is passed up the hierarchy which causes tests to fail when they should not.

Example:
[code]

Chai code:
1. `expect().can.write({C: 1}).to.path('A/B');` - **passes**
2. `expect().can.write({C: null}).to.path('A/B');` - **fails**: ```AssertionError: Expected an unauthenticated user to be able to write `null` to A/B, but the rules denied the write.

[2017-01-11 22:49] dinoboff commented on #113
Hi, which version are your using?

[2017-01-24 13:07] dinoboff opened #115 "Allow computed property access on RuleDataSnapshot"
Firebase allow RuleDataSnapshot via computed property if the property is a literal node:
- `root["exists"]()` is allowed;
- `root["exi" + "sts"]()` is not allowed;
- `root[$foo]()` is not allowed.

[2017-01-24 13:56] #115 closed

[2017-01-24 17:24] dinoboff commented on #113
Please reopen if you can provide more details.

[2017-01-24 17:24] #113 closed

[2017-01-31 13:50] Maradox commented on #113
I used 2.3.3, but I just updated now.

Just to clarify, because maybe I misunderstood the behavior of the patch rule.
Lets say I have a rule which only allows writes to:
`A/B/C` and `A/X/Z`
Firebase currently supports multi-location updates, so for example:
`root.child("A").update("B: {C: ...}, X: {Z: ...}")` does work.

Can this be simulated with a rule using patch?

[2017-01-31 22:19] dinoboff commented on #113
Targaryen support [multi-location](https://firebase.googleblog.com/2015/09/introducing-multi-location-updates-and_86.html) updates.

Assuming you have the following rules:
[code]

Firebase allows something like that:
[code]

But not:
[code]

At least that how I understand it and how targaryen@3 simulates it.

https://firebase.google.com/docs/reference/js/firebase.database.Reference#update
https://

[2017-02-01 13:15] Maradox commented on #113
Actually this is supported by multi-locations update as far as I know and is also backed by the fact that our setup works in production:
`/userRelations/{uid0}/friendRequestsIncoming/{uid1}` and `/userRelations/{uid0}/friendRequestsOutgoing/{uid1} ` are writeable. Nodes above are not writeable.

Then we do the following:
[code]

[2017-02-01 22:38] dinoboff commented on #113
Please read again what I wrote; Targaryen@3 support multilocation write operations using the `patch` assertion tests.

The failing operations I pointed out are failing because they are targeting a level without write permissions.

Please check https://github.com/dinoboff/targaryen/commit/be60fdf6c9160515223d4ab2662c86a5b39353ae for an example.

[2017-02-02 10:22] Maradox commented on #113
I will create an example project to test something I think is not working correctly. I will open a different issue if this is the case.

[2017-02-02 10:27] dinoboff commented on #113
Thanks.

[2017-02-02 10:50] Maradox opened #120 "Patch does not allow deep updates"
Targaryen Version: 3.0.1

**Security Rules:**
[code]

**The following tests are failing but should succceed:**
1.) Update a single path
`expect().can.patch({B: {C: {D: 10}}}).path('A');`
2.) Update both paths
`expect().can.patch({B: {C: {D: 10}}, X: {Y: {Z: 20}}}).path('A');`

**The following code succeeds using firebase with the same security rules:**
1.) Update a single path
[code]
2.) Update bo

[2017-02-02 12:29] dinoboff commented on #120
[code]

Is equivalent to:
[code]

Which will fail on firebase.

[2017-02-02 12:32] dinoboff commented on #120
ps: There no way to have `patch` test both:
[code]
and
[code]

With what you expect `patch` should do.

[2017-02-02 13:57] Maradox commented on #120
Thank you for the clarification. It works now.

[2017-02-02 13:57] #120 closed

[2017-02-22 18:44] christianlacerda opened #121 "newData.parent().parent() not referencing the root"
If I have the following rules:
[code]

The new `newData.parent().parent()` is not correcty pointing to the root, in my test logs I get:
[code]

The rule is working fine using on Firebase.

Thanks!

[2017-02-22 22:49] dinoboff commented on #121
@christianlacerda I cannot reproduce the bug This test is passing:

https://github.com/dinoboff/targaryen/commit/924b9ee46b3b877daa182323c747a87d72e861bd

Is there something wrong with my test? which version are you using?

[2017-02-23 17:52] christianlacerda commented on #121
@dinoboff It seems you're right. I've setup a new clean test and it worked as expected. It must be something else with my rules.

I appreciated your time.

[2017-02-24 08:31] #121 closed

[2017-02-24 10:27] dinoboff commented on #121
You're welcome.

Could it be something to do with your initial data since the debug message says "/users" is empty.

[2017-03-13 21:51] christianlacerda commented on #121
You might be correct. But what if my initial data is empty and I am sending my /users in a multi-path update. Shouldn't `newData.parent().parent().child('users')` be considered then?

[2017-03-13 23:56] dinoboff commented on #121
Yes and AFAIK it does.

[2017-03-14 00:08] dinoboff commented on #121
@christianlacerda I added a test to illustrate multi-location update:
[code]

[2017-03-15 20:06] christianlacerda commented on #121
Thanks a lot @dinoboff ! I was definitely not writing my multi-path test like that, I'll give it try then.

[2017-03-15 23:41] dinoboff commented on #121
With the chai plugin, it's something like:
[code]

The import thing is, like with `ref.update(data)`, each patch data key must be set to a path instead of using nested object; e.g. this is probably wrong:
[code]

It simulates setting 'users' to '{bob: true}' and 'groups' to '{users: true}', not to add items to the 'users' and 'groups' collection.

[2017-03-24 15:38] christianlacerda commented on #121
Thanks @dinoboff That simply just worked!

[2017-04-08 10:25] barmalejj opened #122 "Wrong result for array-like collections"
Hey!

Great library! I was looking for something like that, BUT ... it doesn't work well for array-like collections. Example:
lets say we have collection like that:
(We're are using bolt in our project)
[code]
This code after compile results with rules like
[code]
so, if we make write operation like that: `/item/someAttrsCollection/0/someAttrProp, 'some value'` it should be successful (and it is i

[2017-04-09 14:07] dinoboff commented on #122
Can you check https://github.com/dinoboff/targaryen/commit/267efe3c9f96db26c2fa75d9502ba1c56f33dc39
; the test passes. How can reproduce your error?

[2017-04-12 11:02] barmalejj commented on #122
Here:
[code]
is a mistake. *someAttrsCollection* should be an array. Like:
[code]

[2017-04-12 23:33] dinoboff commented on #122
Update with data set to to an array... the tests are still passes.

[2017-04-12 23:34] dinoboff commented on #122
@barmalejj

ps: I added an assertion to test the write operation fails if there's no itemId.

[2017-04-16 23:30] dinoboff commented on #122
Feel free to reopen if some inconsistent test (as a bare minimum, db data, its rules, and simulation write path and data).

[2017-04-16 23:30] #122 closed

[2017-07-19 16:05] dinoboff opened #124 "Update operation result should include the new value of the node"
For a write operation `newValue` holds the the value written to the node getting written; it is the value the user submitted and the value that will get written.

For multi-location write operations, having the patch data is important but having the resulting new value of the node would be useful; the alternative is something like `result.newDatabase.root.path.to.node.$value()`.

I am not sure if

[2017-07-30 16:38] SamyPesse opened #125 "Error when using string.length with empty string: "Invalid < expression: Left and right sides types are differents""
When the rules contain something like:

[code]

And testing with a write with `"bio": ""`, targaryen throws an error:

[code]

If I test by having a non-empty string for `bio`, it works.

[2017-08-02 23:26] dinoboff commented on #125
I will test that and try to fix it this weekend.

[2017-08-02 23:44] dinoboff commented on #125
Here is the test:
[code]

Output:
[code]

[2017-08-03 00:42] #125 closed

[2017-08-03 00:43] dinoboff commented on #125
@SamyPesse Thanks finding the bug and reporting it. I will release the 3.0.2 this weekend.

[2017-08-10 10:10] dinoboff commented on #125
@SamyPesse Released (sorry for the delay).

[2017-09-05 21:14] SamyPesse opened #128 "Flag to log only the failing conditions"
When using targaryen as the jasmine integration, when a test is failing, the output is really verbose for complex rules.

To debug the issue, we have to look for `=> false` in all the logs.

I tried playing with `setVerbose` and `setDebug`, but none seems to help (either we have no logs or too much logs).

I'm suggesting adding an option to log only the failing conditions (the ones returning `fals

[2017-09-06 00:16] dinoboff commented on #128
I am happy to tackle it when I have time. TODO:
- [ ] it will need a new flag
- [ ] a filter property on the [Result class](https://github.com/goldibex/targaryen/blob/699dfc193e57d08b07146289456255271fd7b41c/lib/database/results.js)
- [ ] and f[ilter logs](https://github.com/goldibex/targaryen/blob/699dfc193e57d08b07146289456255271fd7b41c/lib/database/results.js#L95) with it

[2017-10-04 14:18] fernandopasik opened #129 "Jest support"
Since there are jasmine matchers do you know if there is a way to use them with jest as well?

[2017-10-04 14:26] dinoboff commented on #129
I am not familiar with Jest test suite; I am not sure what kind of api would work with it. Not all test suite require their own plugin, the [default API](https://github.com/goldibex/targaryen#api) might be fine; e.g. tap or ava can use the default API directly (something like the chai plugin would be an anti-pattern), although #124 needs a fix.

What would a Jest test for firebase security rules l

[2017-10-04 14:29] dinoboff opened #130 "Support firestore"
Need a new security rule parser, a new runtime to evaluate rule condition and new data layer.

[2017-10-04 14:31] dinoboff commented on #129
Also, are tests run concurrently?

[2017-10-04 14:52] fernandopasik commented on #129
Yes, tests run concurrently.

I've tried to [extend](https://facebook.github.io/jest/docs/en/expect.html#expectextendmatchers) jest matchers with this code:

[code]

[2017-10-04 14:54] fernandopasik commented on #129
Looks like your structure is returning a compare function that later returns what's needed by jest

[code]

[2017-10-04 15:10] dinoboff commented on #129
I meant try without a matcher, using targaryen API directly, to see what's missing, what a matcher could improve:

[code]

[2017-10-06 23:15] dannycochran opened #131 "auth uids with periods break validation rules"
".validate" rules are not respected when the auth uid has a period in it. For instance:

[code]

However if you change the above user to be "foobar", result.validated will correctly return "false".

I encountered this as I was creating dummy users using Math.random() for the uid, which is easy enough to work around, but it was a headache to track down why this is happening.

[2017-10-06 23:32] dinoboff commented on #131
The problem is with dot in url:
[code]

[2017-10-06 23:34] dinoboff commented on #131
Are dot allowed?

[2017-10-06 23:37] dannycochran commented on #131
I don't think that's the problem. That's an ES6 template string, these two things are equivalent:

[code]

[2017-10-06 23:38] dinoboff commented on #131
@dannycochran Firebase doesn't allow path containing dot.

[2017-10-06 23:41] dannycochran commented on #131
Ah right, that makes sense. In which case, should targaryen throw an error that the path URL is invalid, rather than returning a result which indicates the write was valid?

[2017-10-06 23:46] dinoboff commented on #131
It should throw. It must throw using an illegal location and it might need to validate the uid (the illegal character rule might apply to uid, I need to check).

[2017-10-07 09:29] wcandillon commented on #130
It looks like there is grammar/parser yet available but hopefully they will provide tooling soon.

[2017-10-07 10:33] #131 closed

[2017-10-07 11:16] dinoboff commented on #129
@fernandopasik I suggest you create matcher on one of your project. You would sugget also to use `targaryen.util.*Error` helpers but to avoid the helpers using global values, `targaryen.util.set*` or `targaryen.util.set*`; targaryen only synchronous methods so they can be used safely with concurrent test, but you need reset rules and data between each test.

A matcher for something like:
[code]

[2017-10-07 12:16] dinoboff commented on #131
The bug related to invalid path and node key is fixed in 3.0.3 and it's released.

Regarding UIDs, `firebase-admin` allow the creation of token with UID containing invalid characters, so targaryen is not validating them.

[2017-10-16 12:46] Zhouzi opened #133 "Perform deep equality check when using =="
When using `==`, Firebase performs a deep equality check.

For example, if you wanted to ensure equality of two objects stored in different points of the JSON tree:

[code]

With this rule, Firebase will disallow creating objects that are not strictly equal.

Though it's not really documented: https://firebase.google.com/docs/reference/security/database/#equals

[2017-10-16 22:36] dinoboff commented on #133
That's interesting, I didn't know firebase could compare object. I will add tests and fix that later today.

[2017-10-17 17:58] dinoboff commented on #133
@Zhouzi Do you have a test I can try in the simulator?

I tries with:

- data:

[code]

- Rules:

[code]

- Simulation: Write "/bar" with `{"a": 1, "b": 2}`

It fails for me.

[2017-10-18 08:55] Zhouzi commented on #133
I just spent some time giving it another try and apparently I was mistaking. I debugged the code that led me to think that Firebase was performing a deep equality check and I was whether testing it wrong or using the admin SDK (which doesn't care about rules).

Sorry for bothering 😞

[2017-10-18 08:55] #133 closed

[2017-10-18 09:39] dinoboff commented on #133
No problem. AFAIK, the only way to compare random object properties is with:
[code]

[2017-10-19 06:14] chetbox commented on #131
This change breaks our tests and I believe it restricts a use case that is allowed in Firebase.

For safety, we user dummy UIDs that looks like email addresses to run our cloud functions with restricted privileges. Our write rules test paths of the form `/permissions/user@domain.com` which Firebase does allow us to do, but this version of targaryen does not allow such write rules.

Here's the erro

[2017-10-19 22:27] dinoboff commented on #131
I will check with a proper write operation, but the simulator says "/permissions/user@domain.com" is an invalid location.

[2017-10-21 15:08] SamyPesse opened #134 "Patch allowed on targaryen, not on firebase"
Targaryen is allowing patch that should be rejected.

The following patch is invalid because a key `-KwzSBcjqM_ydHz6415J` is forgotten after the `invites/`:

[code]

The Firebase rules are:

[code]

The update is accepted on Targaryen (log of `data.update('/', update)`:

[code]

But on Firebase, the patch is rejected (as it should):

<img width="1215" alt="screen shot 2017-10-21 at 17 05 55" src="

[2017-10-21 20:14] dinoboff commented on #134
I can reproduce it, and the problem seems to be with the trailing slash.

[2017-10-21 21:00] #134 closed

[2017-10-21 21:06] dinoboff commented on #134
@SamyPesse Should be fixed in [v3.0.4](https://github.com/goldibex/targaryen/releases/tag/v3.0.4).

[2017-10-22 20:48] dinoboff commented on #131
@chetbox with:

[code]

I get:
[code]

[2017-10-23 10:45] dinoboff opened #136 "Fix regression regarding invalid location given to RuleDataSnapshot methods"
Firebase does not allow operation with invalid location (fixed in #132) but it doesn't affect rule evaluation:

[code]

Result:
[code]

[2017-10-23 10:49] dinoboff commented on #136
Same with `RuleDataSnapshot#hasChild`:
[code]

[2017-10-23 10:51] dinoboff commented on #136
Or `RuleDataSnapshot#hasChildren`:
[code]

[2017-10-23 11:42] #136 closed

[2017-10-23 12:02] dedan commented on #129
You can simply use the Chai matchers within your Jest test suites. I found a [blog post](https://medium.com/@RubenOostinga/combining-chai-and-jest-matchers-d12d1ffd0303) that describes this setup in detail.

And here is an example of a simple test of mine, using targaryen matchers with Chai within Jest.

[code]

[2017-10-23 12:24] dinoboff commented on #131
@chetbox it should be fixed in [v3.0.5](https://github.com/goldibex/targaryen/releases/tag/v3.0.5)

[2017-10-23 14:01] dedan opened #138 "Testing of `.validate` rules"
Hello @goldibex

thanks a lot for developing this super helpful tool. I started using it with chai and found to conveniently testing my access rules. However I would also love to use to for testing my validation rules, for example to guarantee the existence of a certain child. I wrote a test that should be failed due to the validation rule, but it passes. Is this a bug or is targaryen not made for

[2017-10-23 14:52] dedan commented on #138
Oh yes, that's exactly what I was looking for. With knowing the solution I also see that [the documentation](https://github.com/goldibex/targaryen/tree/master/docs/chai) mentions that the data should be passed to the call to `write`. However it is hard to see from the documentation that this `write(data)` should be combined with `to.path`.

Thanks a lot for the fast useful response!

[2017-10-23 14:52] #138 closed

[2017-10-23 16:01] fernandopasik commented on #129
Thanks @dedan. I'd like to continue looking into adapting the jasmine matchers to jest.

[2017-11-03 20:36] fantapop opened #139 "Issue checking children when passing an empty object"
I have a security rule which is checking the contents of newData.  It looks like the rule is getting ignored when newData ends up being an empty object.  I'm not sure if this is a firebase security rule thing or if its related to targaryen.  Attached is some test code.

repro.json
[code]

repro.spec.js
[code]

[2017-11-05 22:19] dinoboff commented on #139
I am guessing targaryen disallow writing the partials object but did allow write the empty object?

Writing `{}` is the equivalent of `null`, i.e. to delete the node. Validation rules only applies when creating or updating a node, not deleting it.

[2017-11-05 22:19] #139 closed

[2017-11-28 13:06] dinoboff commented on #130
For reference:

- Testing rules with google api explorer: https://docs.google.com/document/d/1rc_S5RrnxbEUezVN6uwLFNdttdeZ1o9ugQC_UarXRFI/edit
- CEL specs https://github.com/google/cel-spec

[2018-01-26 16:00] d3lm opened #141 "Adding the ability to test operations as an admin"
It would be great to test all sorts of operations like read, write etc. as an admin. This could be achieved for instance by setting an `admin: true` in the `auth` object that is passed to `expect()`. I am not talking about having `isAdmin` in the firebase security rules but rather simulating the Admin SDK.

[2018-01-26 17:48] dinoboff commented on #141
As an admin, Firebase doesn't use the rules; there's nothing to test.

[2018-01-26 21:08] d3lm commented on #141
Yes, makes sense. I have figured that as well.

[2018-01-26 21:08] #141 closed

[2018-01-31 00:33] dinoboff opened #142 "Support `query` variable"
The rule parser and evaluator needs to allow it and APIs needs a way to set it.

It's not yet part of the security variables reference but there's a blog post and a guide entry:

- https://firebase.google.com/docs/database/security/securing-data#query_based_rules
- https://firebase.googleblog.com/2018/01/introducing-query-based-security-rules.html

[2018-02-17 01:07] dinoboff commented on #142
`query.orderByChild` default value should be `null` according the the guide, but `query.orderByChild != null` is currently an invalid statement. And although, the other `orderBy` attributes default value should be false, `query.orderByValue != null` is valid.

I opened an issue with Firebase to check if it's a bug before accommodating for the new inferring requirement.

[2018-02-26 16:55] a-xin opened #143 "Report invalid regex"
This regex is invalid in firebase but valid in targaryen tests:
[code]

Firebase reports: `Illegal regular expression, expected ')' at position 10` (and points to the first `/` character).

It would be great if running targaryen on a rule file including this regex already reports the invalid regex.

[2018-03-05 00:02] dinoboff commented on #142
The issue is now fix, and `query.orderByKey`, `query.orderByValue` and `query.orderByPriority`  still support comparison to `null` which match `targaryen` behaviour with auth property access.

[2018-03-06 20:10] dinoboff commented on #142
With #144, you can set `query` in `chai` with:
[code]

With `jasmine`:
[code]

I will release in 3.1.0-beta.1 before committing to those assertion methods.

[2018-03-07 11:53] #142 closed

[2018-03-07 12:24] dinoboff commented on #142
You can try the new matcher/options with ` npm install targaryen@beta`

[2018-05-04 09:00] 0xClpz opened #147 "Issue parsing queries"
What I was trying to do:
[https://gist.github.com/0xClpz/045e180b7b24538967061240f28c2f17](https://gist.github.com/0xClpz/045e180b7b24538967061240f28c2f17)

What happens:
Error is thrown with:
`
query: query is undefined

      at ParseError (node_modules/targaryen/lib/parser/statement/base.js:22:5)
      at IdentifierNode.inferType (node_modules/targaryen/lib/parser/statement/identifier.js:26:13)

[2018-05-06 14:15] dinoboff commented on #147
@0xClpz which targaryen version are you using?

[2018-05-06 15:15] #143 closed

[2018-05-06 21:12] dinoboff commented on #147
I can reproduce the error with v3.0.5 but not with master.

[2018-05-06 21:12] #147 closed

[2018-05-06 21:14] dinoboff commented on #143
@a-xin Could you try with `targaryen@beta`?

[2018-05-07 15:37] a-xin commented on #143
@dinoboff Thanks for the update, I installed `targaryen@beta` (`"version": "3.1.0-beta.1",`) and when I try to run my db rules tests I get the following exception:

[code]

The import of `./parser` does not exist within the path `lib/parser/regexp` - do I have to change anything else to make the tests run with the beta version?

[2018-05-07 20:59] dinoboff commented on #143
Thanks, I will publish a fix.

[2018-05-08 08:49] a-xin commented on #143
@dinoboff Cool, I can exeucte the tests now but they fail on the following regex:
[code]

with this error:
[code]

Above's rule works fine when deployed to firebase

[2018-05-09 07:42] a-xin commented on #143
@dinoboff Awesome, my tests are green now and the invalid regex is correctly flagged. Great work! :tada:

[2018-05-11 17:35] #129 closed

[2018-05-13 11:30] dinoboff commented on #143
Thanks @a-xin. Published with `3.1.0`.

[2018-05-13 11:30] dinoboff commented on #142
Published with `v3.1.0`.

[2018-05-13 11:32] dinoboff commented on #147
@0xClpz supported in `latest` version.

[2018-09-20 14:01] lukepighetti opened #151 "Targaryen is broken with Jest?"
Honestly it's probably not, but I'm at a loss here.

`./projects.test.js`
[code]

`../database.rules.json`

[code]

`./projects.mock.json`

[code]

`../package.json`
[code]

`declaration exception`

[code]

it seems like it's telling me that getDatabase() is undefined? I'm at a loss here, I seem to be the only person online having this problem so I'm sure I made a mistake, but I cannot figure out

[2018-09-20 14:16] lukepighetti commented on #151
I switched my example to match the Jest docs exactly and I get the same error. https://github.com/goldibex/targaryen/tree/master/docs/jest

[2018-09-20 14:26] lukepighetti commented on #151
So I just decided to try using Targaryan's built in integration tests with Targaryan installed globally and I get this error

[code]

Is this package broken? Just want to know if I should continue spending time on it or not. Cheers.

[2018-09-20 18:05] lukepighetti commented on #151
You can imagine my embarrassment when I realized I used "value" instead of "this" in my Bolt rules.

[2018-09-20 18:05] #151 closed, assigned to nobody

[2018-09-21 13:58] lukepighetti opened #152 "Trailing backslash produces unreliable test results"
Hello,

I'm running into a problem with Targaryan where it says writes are being allowed (jest toAllowWrite) while updates are not (jest toAllowUpdate). The value is an object.

When I test in Rule Simulator in the firebase console it properly blocks the request. Targaryan allows it, but only if it's a "toAllowWrite" test

When should I use Write and when should I use Update?

Are there any known

[2018-09-21 14:47] lukepighetti commented on #152
I think the wording here might be confusing.

`set`, `read` and `update` are all operations

`write` is a permission that includes `set` and `update`

so using "toAllowWrite" doesn't make much sense.

Should it be:

`toAllowSet()`, `toAllowUpdate()` and `toAllowRead()` ?

it seems like `toAllowWrite()` is really checking if you can use the `.set()` operation

[2018-09-21 17:51] lukepighetti commented on #152
I think there is a bug here but I'm not sure.

I am able to set any type of value to any of these fields, as long as they all exist... and it lets me pass extra items that should be stopped by the "$other" rule

[code]

This is `isAllowedWrite()`  to `/users/2222/` by a user with uid `2222`
[code]

And it is allowing the write.

Here is the Bolt type

[code]

[2018-09-21 17:58] lukepighetti commented on #152
The amazing thing is I have another section of my rules that are very similar that work perfectly

[2018-09-21 18:10] lukepighetti commented on #152
Ok, this is interesting.

[code]

This allows writes that it shouldn't.

[code]

This blocks the writes appropriately.

[2018-09-21 18:13] lukepighetti commented on #152
OK I have no idea. Everything is working as expected now and I cannot see where anything changed. :|

[2018-09-21 18:16] lukepighetti commented on #152
OK. I found it.

`expect(theNewUser).not.toSet("/users/2222", incorrectUserValue);` works as expected
`expect(theNewUser).not.toSet("/users/2222/", incorrectUserValue);` allows write that should be blocked

Apparently this trailing backslash is really jacking up the results?

Also, toSet is defined here

[code]

[2018-09-21 18:18] lukepighetti commented on #152
@goldibex @mhuebert @pthrasher @FredrikL @dinoboff

[2018-11-30 14:27] Soreine opened #154 "Empty string as child key returns the collection in Firebase, null in targaryen"
I think I have am encountering an inconsistency between Firebase and targaryen, in the way they treat `.child("")`.

In my rules, I check the existence of a value in a collection by doing `collection.child(key) != null`. But for an empty key `""`, it looks like targaryen returns `null` while Firebase returns something (maybe the collection itself). I have noticed that doing `collection.child("") !

[2018-12-04 13:12] dinoboff commented on #154
I can have a look.

Do you have an example, Including rules, data?

[2019-02-06 11:04] rbokel opened #156 "npm dependency ip-regex requires npm 8 while firebase requires 6"
my build currently fails bc. targaryen#request-promise-native#tough-cookie" depends on ip-regex, which in turn requires npm8

[2019-02-06 11:38] #156 closed, assigned to nobody

[2019-02-10 17:24] balazsorban44 commented on #130
Out of interest, is there progress on this? :crossed_fingers:

[2019-02-11 13:01] laurentpayot commented on #130
@balazsorban44  https://firebase.google.com/docs/firestore/security/test-rules-emulator